*.pyc
**.pyc

*.txt
**.txt

*.csv
**.csv

*.swp
**.swp

*.swo
**.swo

*.png
**.png


*.old
**.old

/fec/static/bower_components/*
/fec/static/.sass-cache/*
/fec/static*.DS_Store
/fec/static/stylesheets/*
