{% extends "base.html" %} {% block main_content %} {% comment %} Página de Login {% endcomment %}
<div class="row">
    <div class="large-6 columns">
        <div class="signup-panel">
            <p class="welcome"> Bienvenido!</p>
            <form name="LoginForm" action="/login/" method="post">
                {% csrf_token %}
                <div class="row collapse">
                    <div class="small-2  columns">
                        <span class="prefix"><i class="fi-torso-female"></i></span>
                    </div>
                    {% if next %}
                    <div class="small-10  columns">
                        <input type="text" id="next" name="next">
                    </div>
                    {% endif %}
                    <div class="small-10  columns">
                        <label class="control-label hidden" for="username">Usuario</label>
                        <input type="text" id="username" name="username" placeholder="usuario">
                    </div>
                </div>
                <div class="row collapse">
                    <div class="small-2 columns ">
                        <span class="prefix"><i class="fi-lock"></i></span>
                    </div>
                    <div class="small-10 columns ">
                        <label class="control-label hidden" for="password">contraseña</label>
                        <input type="text" placeholder="password">
                    </div>
                </div>
            </form>
            <a href="#" class="button ">Ingresar</a>
            <p>Ya tienes una cuenta? <a href="#">Ingresa Aqui!</a></p>
        </div>
    </div>
</div>
{% endblock main_content %}
